.call-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.call-list-item {
  padding: 18px 20px;
  background: rgba(0,0,0,.2);
  margin: 10px 0 0;
  transition: 0.1s ease-out;
  font-size: 14px;
  border-radius: 2px;
}

.call-list-item:hover {
  background: rgba(0,0,0,.3);
  /* box-shadow: 0 2px 10px rgba(0,0,0,.2); */
}

.call-list-item a {
  text-decoration: none;
  color: #fff;
}

.call-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.call-list-item-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.call-list-item-infos > *:not(:last-child)::after {
  content: '●';
  margin: 0 8px;
}


.call-list-item-operator {
  opacity: .6;
}


.call-list-item-state {

}

.call-list-item-type {

}

.call-list-item-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: .3;
  font-size: 13px;
  margin-left: 20px;
  font-weight: 600;
  line-height: 1.1;
}


.call-list-item-reason {
  display: flex;
  align-items: center;
}


.call-list-item-reason::before {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 6px;
  border-radius: 10px;
  margin-left: -4px;
}

.call-list-item-reason--green::before {
  background: #1cde72;
}

.call-list-item-reason--blue::before {
  background: #288dfc;
}

.call-list-item-reason--yellow::before {
  background: #fcbb42;
}

.call-list-item-reason--red::before {
  background: #e92d60;
}

.call-list-item-reason--gray::before {
  background: #c3c3c7;
}

.call-list-item-description {
  opacity: 0.4;
  margin-top: 10px;
}


.call-list-group {
  margin-bottom: 30px;
}

.call-list-group-title {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  opacity: .6;
}
